body {
    height: 100%;
    background-color: rgb(207, 239, 234);
}
.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: solid #f17e09 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgb(182, 232, 207);
    margin-top: 80px;

/*    khởi tạo container*/
/*   wrap: Các item có thể chia thành nhiều hàng nếu không đủ diện tích
với chiều là chiều của flex-direction. */
/*flex-direction: row(mặc định): Hiển thị các item từ trái qua phải. */
/*
 - Trục chính là một vector có phương và chiều theo thuộc tính flex-direction.*/
/*



   - Trục đối xứng là một vector vuông góc với trục chính (từ trên xuống dưới).*/
/*
https://tuduydongian.com/2017/11/flex-box-css/#:~:text=Flexbox(Flexible%20box)%20l%C3%A0%20m%E1%BB%99t,container%20c%C3%B3%20th%E1%BB%83%20thay%20%C4%91%E1%BB%95i.
*/
}

.grid div  {
    /*các item trong container*/
    width: 20px;
    height: 20px;

}

.invaderStyle {
    background-color: #b90bb9;
    border-radius: 10px;
}

.shooter {
    background-color: orange;
    border-radius: 5px ;
}

.laser {
    background-color: #e01919;
    border-radius: 10px;
}

.boom {
    background-color: darkred;
}